%h2 Collaborators
%ul#collaborators
  - @collaborators.each do |c|
    %li
      %img{:src=>"http://www.gravatar.com/avatar/#{c.gravatar_id}"}
      %a{:href=>"http://github.com/#{c.login}"}
        = c.name 
