*
  margin: 0
  padding: 0
  border: 0
  outline: 0

body
  background: #EEEEEE
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Garuda'

#content
  width: 80%
  background: #FFFFFF
  margin: 0 auto
  padding: 20px
  min-height: 500px
  
#main
  width: 75%
  float: left
  
#sidebar
  width: 20%
  float: right
  
#footer
  clear: both
  text-align: center
