* 
  margin: 0
  padding: 0
  border: 0
  outline: 0 

body 
  background: #1F1F1F
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Garuda" 

a:link, a:visited 
  color: #5F5F5F

a:hover, a:active 
  color: #8F8F8F


#content 
  width: 95%
  background: white
  margin: 1       0px auto
  padding: 20px
  min-height: 500px 

#main 
  width: 75%
  float: left 

#sidebar 
  width: 20%
  float: right 

#sidebar h1 
  font-size: 1.9em
  text-align: right


#sidebar h2 
  font-size: 1.3em
  color: #4F4F4F
  text-align: right  


#sidebar ul 
  list-style-type: none
  margin-left: 20px


#watchers 
  margin-top: 20px
  text-align: center

#watchers a 
  padding: 5px 20px

#watchers a:link, #watchers a:visited 
  color: #FFF
  background: #FF953F

#watchers a:hover, #watchers a:active 
  color: #FFF
  background: #FFC15F

#footer 
  color: #FFF
  clear: both
  text-align: center 

#footer a:link, #footer a:visited 
  color: #9F9F9F

#footer a:hover, #footer a:active 
  color: #EEE

