* 
  margin: 0
  padding: 0
  border: 0
  outline: 0 

body
  color: #EEEEEE
  background-color: #2F2F2F 
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Garuda" 

a:link, a:visited 
  color: #5F5F5F

a:hover, a:active 
  color: #8F8F8F

h1 a, h2 a
  text-decoration: none
  
#header
  clear: both
  padding: 20px
  min-height: 40px

#header h1
  text-align: right 

#header p
  float: right

#content 
  clear: both
  width: 98%
  margin: 10px auto

#main 
  width: 80%
  float: left 

#sidebar 
  width: 19%
  float: right 

#sidebar h1 
  font-size: 1.9em
  text-align: right

#sidebar h2 
  font-size: 1.3em
  color: #4F4F4F
  text-align: right  

#sidebar ul 
  list-style-type: none
  margin-left: 20px

#watchers 
  margin-top: 20px
  text-align: center
  line-height: 16px
  
#watchers p
  margin-bottom: 15px

#watchers a 
  padding: 5px 20px

#watchers a:link, #watchers a:visited 
  color: #FFF
  background: #FF953F

#watchers a:hover, #watchers a:active 
  color: #FFF
  background: #FFC15F

.page_header
  margin: 20px

#branches, #posts
  margin-left: 50px

#branches .post_title, #posts .post_title
  margin-left: 25px

.post_title
  line-height: 30px
  margin-bottom: 25px

#post_info
  float: right
  width: 25%
  background: #3F3F3F
  padding: 20px
  color: #EEEEEE

#post
  float: left
  width: 68%

#post ul
  list-style-position: inside
  margin-left: 20px

#post_info a:link, #post_info a:visited
  color: #EEE
  
#post_info a:hover, #post_info a:active
  color: FFF

#post_info h2
  text-align: right
  color: #2F2F2F

#post_info #authored_date
  font-size: 14px

#history_button
  cursor: pointer

#history
  line-height: 17px

#history .commit
  margin-bottom: 10px

#history .commit_date
  font-size: 12px
  color: #5F5F5F

#main h1
  line-height: 1.3em

#post p
  line-height: 1.3em
  margin: 10px 0px

#post pre
  background: #3F3F3F
  overflow: auto
  overflow-Y: hidden

#footer 
  clear: both
  text-align: center

#footer a:link, #footer a:visited 
  color: #9F9F9F

#footer a:hover, #footer a:active 
  color: #EEE

