<h1>Editing category</h1>

<% form_for(@category, :url=>{:controller=>'admin', :action=>'update_category', :id=>@category.id}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

