<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
  <b>Category:</b>
  <%= link_to(@post.category.name, :action=>'show_category', :id=>@post.category.id) %>
</p>
