/* palette
*
*  dark grey: #282B25;
*  tactless: #47594E;
*  sick river: #688765;
*  wand: #86B891;
*  cool cucumber: #9AD6A4;
*
*/

* { margin: 0; padding: 0; }

body {
font-family: sans-serif;
background: #47594E;
}

#page {
  padding: 20px;
  margin: 20px;
  background: #282B25;
  color: #9AD6A4;
  border-top: 5px solid #688765;
  min-height: 600px;
}

a:link, a:visited {
  color: #FFF;
  text-decoration: none;
}

a:hover, a:active {
  color: #688765;
  text-decoration: none;
}

#sidebar ul { list-style-type: none; margin-left: 10px; }

#sidebar {
  float: right;
  width: 20%;
}

#content {
  width: 75%;
}

#sidebar h1 {
  text-align: right;
}

#sidebar p {
  padding: 10px;
}

#sidebar h2 {
  color: #47594E;
}

.post-date {
  font-size: 12px;
  color: #47594E;
}

#post-body {
  padding: 10px;
}

#post-body ul { list-style-position: inside; margin: 10px; }

#post-body p { padding: 5px 0px; }

#post-body table td {
  border: 1px solid #EEE;
  padding: 5px;
  font-size: 14px;
}

#comment-form, #comments {
  padding: 10px;
}
#comment-form h3, #comments h3 {
  font-size: 12px;
  color: #688765;
}
#comment-form input {
  border: none;
  margin: 5px;
  background: #688765;
  color: #FFF;
  padding: 5px;
  border-top: 5px solid #EEE;
}
#comment-form textarea {
  margin: 5px;
  margin-top: 0px;
  border: none;
  height: 150px;
  width: 500px;
  background: #688765;
  color: #FFF;
  padding: 5px;
  font-size: 14px;
}
#comment-form input[type=submit] {
  border: 1px solid #47594E;
  cursor: pointer;
}

#comments a:link, #comments a:visited {
  color: #000;
}
#comments a:hover, #comments a:active {
  color: #47594E;
}

.comment {
  margin: 5px;
  font-size: 14px;
  margin-bottom: 15px;
  background: #9AD6A4;
  padding: 5px;
  color: #282B25;
  border-top: 5px solid #EEE;
}

.comment h1, .comment h2, .comment h3, .comment h4, .comment h5 {
  font-size: 14px;
}

.comment-author {
  padding: 5px;
  padding-top: 0px;
  color: #47594E;
}

.post-item {
  margin: 10px 0px;
}

#notices {
  color: #86B891;
  font-size: 13px;
  text-align: center;
}

#recaptcha {
  padding: 5px;
}
#recaptcha p { font-size: 12px; }

.pagination { font-size: 14px; text-align: center; padding: 10px; }









