<h1>title goes here</h1>
<p>description goes here</p>
<h2>subjects</h2>
<ul id="subjects">
<% for category in @categories %>
  <li><%= link_to category.name, :controller=>'categories', :action=>'show', :id=>category.name %></li>
<% end %>
</ul>
<h2>suppliments</h2>
<ul id="suppliments">
  <li>links go here</li>
</ul>
